<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head-imports :: links(pageTitle=${title})}">
</div>
<body>

<!-- main navigation -->
<div th:replace="~{fragments/top-navigation :: main-navigation}"></div>

<div class="container">
	<div class="row">
		<div class="col s12" id="headingName">
			<h2 th:text="${bridgeName}" id="bridge-name-heading">Bridge name</h2>
		</div>
	</div>
	<div id="bridge-refine-search-container">
		<form id="bridge-refine-search-form">
			<div class="row">
				<div class="input-field col s5">
					<label for="refine-search-name" class="active">Name <span
							th:if="${errors != null}" th:text="${errors.get('name')}" class="red-text input.invalid">Name</span></label>
					<input id="refine-search-name" name="name" th:value="${bridgeName}"/>
				</div>
				<div class="input-field col s4">
					<label for="refine-search-country" class="active">Country</label>
					<select id="refine-search-country" name="country" disabled="disabled">
						<option value="UK">UK</option>
						<option value="Germany">Germany</option>
					</select>
				</div>
				<div class="input-field col s3">
					<div id="refine-search=button" class="btn waves-effect waves-light teal darken-1"
					     onclick="triggerSearch();"><i class="material-icons right">search</i>Search
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<fieldset id="refine-expand-fieldset">
						<p>More options here</p>
					</fieldset>
				</div>
			</div>
		</form>
	</div>

	<!-- search results list -->
	<div class="row">
		<div class="col s12" id="results">
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>
		<div th:if="${results !=null}" th:fragment="results">
			<form id="results-preview">
				<div class="row">
					<div class="col s12">
						<ul class="collapsible" data-collapsible="accordion">
							<li th:each="bridge : ${results}">
								<div class="collapsible-header"><span th:text="${bridge}">Bridge information</span>
									<div class="secondary-content">
										<a href="#" th:onclick="'expand(\'' + ${bridge.wikiDataID} + '\',
											\'' + ${bridgeStat.index} + '\');'">
											<i class="material-icons bridgeCollapsibleArrow" th:id="|expandArrow_${bridgeStat.index}|">expand_more</i>
										</a>
										<input type="radio" name="bridgeGroup" th:id="|radio_${bridge.wikiDataID}|"/>
										<label th:for="|radio_${bridge.wikiDataID}|">&nbsp;</label>
									</div>
								</div>
								<div th:id="|col_${bridge.wikiDataID}|" class="collapsible-body">More bridge details
									<!-- bridge preview -->
									<div th:if="${bridgePreview != null}" th:fragment="preview">
										<ul>
											<li th:each="statement : ${bridgePreview}">
												<span th:text="${statement.key}">Statement</span> <span th:text="${statement.value}" class="teal-text lighten-4">Value</span>
											</li>
										</ul>
										<span class="previewImage" th:if="${imageUrl != null}">
											<img th:src="${imageUrl}" width="150px"/>
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col s3 input-field offset-s9">
						<div class="btn waves-effect waves-light teal darken-1"><i
								class="material-icons right">check</i>Choose
						</div>
					</div>
				</div>
			</form>
		</div>

		<!-- spinner -->
		<div id="spinner" style="display: none;">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/bridge.js"></script>
</body>
</html>