<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="page-footer blue-grey darken-2">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4 class="white-text">Cantilevers Bridge Database</h4>
				<p class="grey-text">Tools for exploring bridges in Scotland, Great Britain and beyond</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="row">
			<div class="col s12">
				<p><a href="http://www.liamjdavison.co.uk" title="Liam J Davison">© LJD</a></p>
			</div>
		</div>
	</div>
</footer>

</html>