<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form id="home-search-add-form" th:fragment="form" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="input-field col s6">
			<label for="addBridgeName">Name <span
					th:if="${errors != null}" th:text="${errors.get('name')}" class="red-text input.invalid">Name</span></label>
			<input id="addBridgeName" type="text" placeholder="Search for bridge name" name="name" required="true" th:value="${name}"/>
		</div>
		<div class="input-field col s3">
			<div id="add-bridge-btn-open" class="btn waves-effect waves-light teal darken-1"
			     onclick="validateAndRedirect( {validator: '/ajax/validate/', form: 'home-search-add-form', div:'home-search-add-container', success: '/bridge/search'} );"><i class="material-icons right">search</i>Search
			</div>
		</div>
	</div>
</form>
</html>