<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="main-navigation" class="page-footer blue-grey darken-2">
	<div class="nav-wrapper teal blue-grey darken-2">
		<a href="/" class="brand-logo right hide-on-med-and-down"><img src="/ForthBridgeConstruction-1.png" title="Cantilever Bridge Logo" height="150px" /></a>
		<ul id="nav-mobile" class="left hide-on-small">
			<li><a href="/" class="waves-effect btn waves-light">Home</a></li>
			<li><a href="#debug" class="trigger">Debug</a></li>
		</ul>
	</div>

	<div class="modal bottom-sheet" id="debug">
		<div class="modal-content row">
			<div class="col s12">
				<h4>Model</h4>
				<table class="orange-text text-orange-darken-4">
					<tr th:each="var : ${#ctx.getVariableNames()}">
						<td th:text="${var}"></td>
						<td th:text="${#vars.getVariable(var)}"></td>
					</tr>
					<tr>
						<td>errors</td>
						<td th:text="${errors}"></td>
					</tr>
					<tr>
						<td>param</td>
						<td th:text="${#vars.getVariable('param')}"></td>
					</tr>
					<tr>
						<td>session</td>
						<td th:text="${#vars.getVariable('session')}"></td>
					</tr>
					<tr>
						<td>application</td>
						<td th:text="${#vars.getVariable('application')}"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
</nav>
</html>