<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="main-navigation" class="page-footer blue-grey darken-2">
	<div class="nav-wrapper teal blue-grey darken-2">
		<a href="/" class="brand-logo right hide-on-med-and-down"><img src="/ForthBridgeConstruction-1.png" title="Cantilever Bridge Logo" height="150px" /></a>
		<ul id="nav-mobile" class="left hide-on-small">
			<li><a href="/" class="waves-effect btn waves-light">Home</a></li>
		</ul>
	</div>
</nav>
</html>